<div class="header-container">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3 col-2 p-0">
        <!-- <img
          src="../../../assets/youtube-logo-png.jpg"
          class="header-container__logo"
        /> -->
        <div class="header-container__title">
          <span class="header-container__title-r">R</span>Tube
        </div>
        <span class="header-container__country">EG</span>
      </div>
      <div class="col-md-7 col-10">
        <div class="row">
          <div
            class="header-container__search-box col-9"
            v-bind:class="[displaySearch ? '' : 'header-container__search-box--Visibility']"
          >
            <input
              type="text"
              class
              autocomplete="on"
              v-model="searchBox"
              @keyup.enter="getVideos"
              placeholder="Search"
            />
            <span
              class="fa fa-times clear-search"
              v-on:click="clearSearch"
            ></span>
          </div>
          <div class="header-container__search-icon col-2">
            <i class="fa fa-search" v-on:click="DisplaySeachBox"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
