<div class="filter-container">
  <select
    class="filter-container__DDL"
    v-model="selectedType"
    @change="chosenType($event)"
  >
    <option value>Type</option>
    <option v-for="(type,index) in videosType" :key="index" :value="type.val"
      >{{type.key}}</option
    >
  </select>

  <select
    class="filter-container__DDL"
    v-model="selectedDate"
    @change="chosenDate"
  >
    <option value>UploadDate</option>
    <option
      v-for="(videoDate,index) in videosUploadDate"
      :key="index"
      :value="videoDate.val"
      >{{videoDate.key}}</option
    >
  </select>
</div>
