@import "../../../CommonStyles.scss";
@import "../../../Colors.scss";

.filter-container {
  margin-top: 5.25rem;

  @media screen and (min-width: 992px) {
    margin-top: 0;
  }

  &__DDL,
  select {
    min-width: 6.5rem;
    width: max-content;
    text-align: left;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 0.625rem;
  }
}

// background-color: #eee;
