@import "../../../CommonStyles.scss";
@import "../../../Colors.scss";

.fiter-container {
  &__DDL,
  select {
    width: 6.5rem;
    text-align: left;
    background-color: #eee;
    border: 1px solid #bbb;
    border-radius: 3px;
    margin: 0 0.625rem;
  }
}
//  &__DDL,
