<div v-bind:class="[darkTheme == true ? 'dark-theme' : '']" :style="customMode">
  <div class="header-holder" :style="customMode">
    <section class="user-mode">
      <i
        class="user-mode__icon fa fa-users-cog"
        v-on:click="dispayingUserMenu()"
      ></i>
      <div class="user-mode__content-holder" v-if="dispayUserMenu">
        <div class="user-mode__theme-color">
          <span>Theme Color</span>
          <input
            type="color"
            class="px-1"
            v-on:input="customMode.backgroundColor = $event.target.value"
          />
        </div>
        <div class="user-mode__color-style">
          <span>Text Color Style</span>
          <input
            type="color"
            class="px-1"
            v-on:input="customMode.color = $event.target.value"
          />
        </div>
      </div>
    </section>
    <b-form-checkbox
      class="col-lg-9 col-12 text-right dark-theme-toogle"
      switch
      @change="toogle"
      >Dark Theme
    </b-form-checkbox>

    <SearchBar
      v-on:searchedVideos="updateVideos($event)"
      v-on:loadingDisplay="loaderDisplay($event)"
    />
  </div>

  <div class="container">
    <Video-Filter
      v-on:chosenType="ddlChosenType($event)"
      v-on:chosenDate="ddlChosenDate($event)"
    />
    <div v-if="loaderDisplayToogle">
      <Loader loadingText="Loading" size="lg" />
    </div>

    <div v-if="loaderDisplayToogle === false">
      <div
        v-for="(videosList,index) in allVideos"
        :key="`nx${index}`"
        v-if="filteredVideos.length === 0"
      >
        <VideoHolder
          :videoId="videosList.id"
          :videoDescription="videosList.snippet.description"
          :videoTitle="videosList.snippet.title"
          :videoSubTitle="videosList.snippet.channelTitle"
          :videoDate="videosList.snippet.publishedAt"
        />
      </div>
      <div v-for="(searchVideo,index) in filteredVideos" :key="index">
        <VideoHolder
          :videoId="searchVideo.id.videoId
          ? searchVideo.id.videoId
          : searchVideo.id.channelId
          ? searchVideo.id.channelId
          : searchVideo.id.playlistId
          ? searchVideo.id.playlistId
          : searchVideo.id "
          :videoDescription="searchVideo.snippet.description"
          :videoTitle="searchVideo.snippet.title"
          :videoSubTitle="searchVideo.snippet.channelTitle"
          :videoDate="searchVideo.snippet.publishedAt"
        />
      </div>
    </div>
  </div>
</div>
