@import "../../../CommonStyles.scss";
@import "../../../Colors.scss";

.header-holder {
  background-color: red;

  .user-mode {
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 11;

    &__icon {
      // color: #2c3e50;
      font-size: 25px;
      margin: 2px 0.5rem;
    }

    &__content-holder {
      position: relative;
      top: -25px;
      right: 45px;
      padding: 0.625rem;
      border-radius: 10px;
      background: linear-gradient(0deg, lightgrey, transparent);
    }

    &__theme-color,
    &__color-style {
      color: #8a0000;
      font-size: 12px;
    }

    &__content {
      padding-right: 5px;
    }

    &__color-input {
      border-radius: 0;
      border: none;
      padding: 0;
      background: unset;
    }

    &__color-input:focus {
      outline: unset;
    }
  }

  @media screen and (min-width: 992px) {
    background-color: #fff;
    .user-mode {
      position: absolute;
    }
  }

  .dark-theme-toogle {
    position: fixed;
    top: 0;
    order: 1;
    padding: 2px 2rem;
    z-index: 10;
    background-color: inherit;
    @media screen and (min-width: 992px) {
      position: initial;
      padding: 0;
    }
  }
}

.dark-theme {
  .header-holder {
    background-color: #1d1d1d;
  }
}
